<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunfang.bdpf.system.competence.mapper.CompetenceMapper">
  <resultMap id="BaseResultMap" type="com.xunfang.bdpf.system.competence.entity.Competence">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="res_code" jdbcType="VARCHAR" property="resCode" />
    <result column="req_mapping" jdbcType="VARCHAR" property="reqMapping" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, parent_id, name, description, status, create_time, res_code, req_mapping
  </sql>
  <sql id="Base_Column">
    res_code
  </sql>
  <select id="selectByExample" parameterType="com.xunfang.bdpf.system.competence.entity.CompetenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bdpf_system_competence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bdpf_system_competence
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bdpf_system_competence
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xunfang.bdpf.system.competence.entity.CompetenceExample">
    delete from bdpf_system_competence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xunfang.bdpf.system.competence.entity.Competence">
    insert into bdpf_system_competence (id, parent_id, name, 
      description, status, create_time, 
      res_code, req_mapping)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{resCode,jdbcType=VARCHAR}, #{reqMapping,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xunfang.bdpf.system.competence.entity.Competence">
    insert into bdpf_system_competence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="resCode != null">
        res_code,
      </if>
      <if test="reqMapping != null">
        req_mapping,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resCode != null">
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="reqMapping != null">
        #{reqMapping,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xunfang.bdpf.system.competence.entity.CompetenceExample" resultType="java.lang.Long">
    select count(*) from bdpf_system_competence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bdpf_system_competence
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resCode != null">
        res_code = #{record.resCode,jdbcType=VARCHAR},
      </if>
      <if test="record.reqMapping != null">
        req_mapping = #{record.reqMapping,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bdpf_system_competence
    set id = #{record.id,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      res_code = #{record.resCode,jdbcType=VARCHAR},
      req_mapping = #{record.reqMapping,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunfang.bdpf.system.competence.entity.Competence">
    update bdpf_system_competence
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resCode != null">
        res_code = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="reqMapping != null">
        req_mapping = #{reqMapping,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunfang.bdpf.system.competence.entity.Competence">
    update bdpf_system_competence
    set parent_id = #{parentId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      res_code = #{resCode,jdbcType=VARCHAR},
      req_mapping = #{reqMapping,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectGroupByParentId" resultType="java.lang.String" >
    select 
    <include refid="Base_Column" />
    from bdpf_system_competence WHERE parent_id =""
  </select>
  
  
	<select id="getCompCount" parameterType="Map" resultType="long">
		select count(id)
		from bdpf_system_competence
		where 0 = 0
		<if test="keywords != null and keywords != ''">
			and name like '%${keywords}%' or description LIKE '%${keywords}%'
		</if>
	</select>


	<select id="queryCompByPage" parameterType="Map" resultType="com.xunfang.bdpf.system.competence.entity.Competence">
		SELECT 
		id as id,
		parent_id as parentId,
		name as name,
		description as description,
		res_code as resCode,
		req_mapping as reqMapping
		FROM
		bdpf_system_competence
		where 0 = 0
		<if test="keywords != null and keywords != ''">
			and name LIKE '%${keywords}%' or description LIKE '%${keywords}%'
		</if>
		order by id
		limit ${skip},${limit}
	</select>
  	<select id="selcetCompListByAccount" parameterType="Map" resultType="com.xunfang.bdpf.system.competence.entity.Competence">
  	select a.parent_id as parentId,
  	a.name as name,
  	a.req_mapping as reqMapping,
	(case when a.parent_id is not null then (select name from bdpf_system_competence where res_code = a.parent_id) else '' end) as description,
	a.res_code as resCode
	from bdpf_system_competence a,
	bdpf_system_role_competence b,	
	bdpf_system_role c,	
	bdpf_system_user_role d,	
	bdpf_system_user e
	where a.id = b.competence_id and b.role_id = c.id and d.role_id = c.id and d.user_id = e.id
	<if test="accounts != null and accounts != ''">
		and e.account = '${accounts}'
	</if>
	group by a.parent_id,a.name,a.req_mapping,a.res_code
	order by a.id
  	</select>
  
</mapper>