@charset "utf-8";
.ly-bg {
  background-color: #f8fafb;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
}
.base-color {
  color: #0c84f4;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a0b7cd;
  opacity: 1;
  font-size: 14px;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a0b7cd;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #a0b7cd;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #a0b7cd;
  opacity: 1;
}
.cd-icon {
  background: url(../images/icon.png) no-repeat;
  vertical-align: middle;
}
/*---------/header-----------*/
/*-------paging------*/
.com-paging {
  padding: 30px 0;
  display: table;
  margin: 0 auto;
}
.com-paging .page_number {
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 5px 0px;
  font-size: 12px;
  color: #67737e;
  border: 1px solid #d6e1ee;
  background-color: #eaebed;
  border-radius: 3px;
  cursor: pointer;
}
.com-paging .page_number:hover {
  color: #fff;
  background-color: #f0832b;
}
.com-paging .w55 {
  width: 55px;
}
.com-paging .w40 {
  width: 40px;
}
.com-paging .total_num {
  line-height: 30px;
  color: #768a99;
}
/*------/paging------*/
/*----登录----*/
.login-logo a {
  font-size: 16px;
  color: #5a6e7d;
  margin-left: 60px;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.login-logo a:hover {
  color: #f0832b;
}
.login-header,
.login-footer {
  width: 100%;
  background-color: #fff;
}
.login-header {
  height: 80px;
  line-height: 80px;
}
.login-footer {
  height: 78px;
}
.footer-text {
  font-size: 14px;
  color: #67737e;
}
.wave-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 95px;
}
.wave-foot .login-img {
  display: inline-block;
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
.wave-foot .login-img img {
  width: 100%;
  height: 95px;
}
.login-bg {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  background-color: #e2e2f2;
}
.login-box {
  top: -16px;
  right: 105px;
  width: 384px ;
  height: 394px;
  z-index: 2;
  background: url(../images/login/main-bg.png) no-repeat;
}
.login-box .mlr60 {
  margin: 0 60px;
}
.login-box li:first-child {
  font-size: 20px ;
  line-height: 20px;
  color: #385e8d;
}
.login-box .form-item {
  width: 360px ;
  height: 44px;
  border: 1px solid #a0b7cd;
}
.login-box .form-item input {
  border: none;
  width: 80%;
  height: 42px;
  line-height: 42px;
}
.login-box .form-group label {
  font-size: 14px ;
  color: #67737e;
  font-weight: 400;
}
.common-btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  color: #fff;
  border: 1px solid transparent;
}
.login-btn {
  width: 100%;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  border-radius: 5px;
  background-color: #f0832b;
  letter-spacing: 10px;
  text-indent: 10px;
}
.login-btn:hover {
  color: #fff;
  background-color: #d87627;
}
.ml1 {
  margin-left: 1em;
}
.login-footer span {
  font-size: 12px;
  color: #67737e;
}
#banner-box {
  position: relative;
  width: 481px;
  height: 393px;
  margin-left: 120px;
  z-index: 999;
}
#banner-box .list {
  position: relative;
  width: 481px;
  height: 393px;
  overflow: hidden;
}
#banner-box .list li {
  position: absolute;
  top: 0;
  left: 0;
  width: 481px;
  height: 393px;
  opacity: 0;
  filter: alpha(opacity=0);
}
#banner-box .list li.current {
  opacity: 1;
}
#banner-box .count {
  position: fixed;
  left: 50%;
  margin-left: -31px;
  bottom: 142px;
}
#banner-box .count li {
  color: #fff;
  float: left;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 10px;
  background: url(../images/login/btn.png) no-repeat;
}
#banner-box .count li.current {
  background: url(../images/login/active_btn.png) no-repeat;
}
/*----/登录----*/
/*公告底部*/
.cd-com-foot {
  padding: 34px 0 0 30px;
  height: 135px ;
  border-top: 1px solid #e3e4e9;
}
/*/公告底部*/
