<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunfang.bdpf.mllib.assembly.mapper.NormalizationChildAssemblyMapper">
  <resultMap id="BaseResultMap" type="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssembly">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="bdpf_mllib_assembly_normalization_id" jdbcType="VARCHAR" property="bdpfMllibAssemblyNormalizationId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="xh" jdbcType="INTEGER" property="xh" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bdpf_mllib_assembly_normalization_id, name, data_type, xh
  </sql>
  <select id="selectByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssemblyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bdpf_mllib_assembly_normalization_child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bdpf_mllib_assembly_normalization_child
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bdpf_mllib_assembly_normalization_child
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssemblyExample">
    delete from bdpf_mllib_assembly_normalization_child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssembly">
    insert into bdpf_mllib_assembly_normalization_child (id, bdpf_mllib_assembly_normalization_id, 
      name, data_type, xh)
    values (#{id,jdbcType=VARCHAR}, #{bdpfMllibAssemblyNormalizationId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{xh,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssembly">
    insert into bdpf_mllib_assembly_normalization_child
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bdpfMllibAssemblyNormalizationId != null">
        bdpf_mllib_assembly_normalization_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="xh != null">
        xh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bdpfMllibAssemblyNormalizationId != null">
        #{bdpfMllibAssemblyNormalizationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssemblyExample" resultType="java.lang.Long">
    select count(*) from bdpf_mllib_assembly_normalization_child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bdpf_mllib_assembly_normalization_child
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.bdpfMllibAssemblyNormalizationId != null">
        bdpf_mllib_assembly_normalization_id = #{record.bdpfMllibAssemblyNormalizationId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
      <if test="record.xh != null">
        xh = #{record.xh,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bdpf_mllib_assembly_normalization_child
    set id = #{record.id,jdbcType=VARCHAR},
      bdpf_mllib_assembly_normalization_id = #{record.bdpfMllibAssemblyNormalizationId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR},
      xh = #{record.xh,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssembly">
    update bdpf_mllib_assembly_normalization_child
    <set>
      <if test="bdpfMllibAssemblyNormalizationId != null">
        bdpf_mllib_assembly_normalization_id = #{bdpfMllibAssemblyNormalizationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        xh = #{xh,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunfang.bdpf.mllib.assembly.entity.NormalizationChildAssembly">
    update bdpf_mllib_assembly_normalization_child
    set bdpf_mllib_assembly_normalization_id = #{bdpfMllibAssemblyNormalizationId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      xh = #{xh,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryNormalizationChild" parameterType="Map" resultMap="BaseResultMap">
    select
    b.id as id, 
    b.bdpf_mllib_assembly_normalization_id as bdpfMllibAssemblyNormalizationId, 
    b.name as name,
    b.data_type as dataType,
    b.xh as xh
    from bdpf_mllib_assembly_normalization a,bdpf_mllib_assembly_normalization_child b
    where a.id = b.bdpf_mllib_assembly_normalization_id and a.bdpf_mllib_assembly_id = '${id}'
    order by b.xh
  </select>
  <insert id="batchInsertNormalizationChildAssembly" parameterType="java.util.List">
		insert bdpf_mllib_assembly_normalization_child (id, bdpf_mllib_assembly_normalization_id, name,data_type,xh)
		values
	<foreach collection="list" index="index" item="item" separator=",">
			( #{item.id}, #{item.bdpfMllibAssemblyNormalizationId}, #{item.name}, #{item.dataType}, #{item.xh})
   </foreach>
  </insert>
</mapper>