<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunfang.bdpf.mllib.assembly.mapper.SplitAssemblyMapper">
  <resultMap id="BaseResultMap" type="com.xunfang.bdpf.mllib.assembly.entity.SplitAssembly">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="bdpf_mllib_assembly_id" jdbcType="VARCHAR" property="bdpfMllibAssemblyId" />
    <result column="resolution_mode" jdbcType="INTEGER" property="resolutionMode" />
    <result column="segmentation_ratio" jdbcType="DOUBLE" property="segmentationRatio" />
    <result column="random" jdbcType="INTEGER" property="random" />
    <result column="core_number" jdbcType="INTEGER" property="coreNumber" />
    <result column="memory" jdbcType="INTEGER" property="memory" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bdpf_mllib_assembly_id, resolution_mode, segmentation_ratio, random, core_number, 
    memory
  </sql>
  <select id="selectByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssemblyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bdpf_mllib_assembly_split
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bdpf_mllib_assembly_split
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bdpf_mllib_assembly_split
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssemblyExample">
    delete from bdpf_mllib_assembly_split
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssembly">
    insert into bdpf_mllib_assembly_split (id, bdpf_mllib_assembly_id, resolution_mode, 
      segmentation_ratio, random, core_number, 
      memory)
    values (#{id,jdbcType=VARCHAR}, #{bdpfMllibAssemblyId,jdbcType=VARCHAR}, #{resolutionMode,jdbcType=INTEGER}, 
      #{segmentationRatio,jdbcType=DOUBLE}, #{random,jdbcType=INTEGER}, #{coreNumber,jdbcType=INTEGER}, 
      #{memory,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssembly">
    insert into bdpf_mllib_assembly_split
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bdpfMllibAssemblyId != null">
        bdpf_mllib_assembly_id,
      </if>
      <if test="resolutionMode != null">
        resolution_mode,
      </if>
      <if test="segmentationRatio != null">
        segmentation_ratio,
      </if>
      <if test="random != null">
        random,
      </if>
      <if test="coreNumber != null">
        core_number,
      </if>
      <if test="memory != null">
        memory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bdpfMllibAssemblyId != null">
        #{bdpfMllibAssemblyId,jdbcType=VARCHAR},
      </if>
      <if test="resolutionMode != null">
        #{resolutionMode,jdbcType=INTEGER},
      </if>
      <if test="segmentationRatio != null">
        #{segmentationRatio,jdbcType=DOUBLE},
      </if>
      <if test="random != null">
        #{random,jdbcType=INTEGER},
      </if>
      <if test="coreNumber != null">
        #{coreNumber,jdbcType=INTEGER},
      </if>
      <if test="memory != null">
        #{memory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssemblyExample" resultType="java.lang.Long">
    select count(*) from bdpf_mllib_assembly_split
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bdpf_mllib_assembly_split
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.bdpfMllibAssemblyId != null">
        bdpf_mllib_assembly_id = #{record.bdpfMllibAssemblyId,jdbcType=VARCHAR},
      </if>
      <if test="record.resolutionMode != null">
        resolution_mode = #{record.resolutionMode,jdbcType=INTEGER},
      </if>
      <if test="record.segmentationRatio != null">
        segmentation_ratio = #{record.segmentationRatio,jdbcType=DOUBLE},
      </if>
      <if test="record.random != null">
        random = #{record.random,jdbcType=INTEGER},
      </if>
      <if test="record.coreNumber != null">
        core_number = #{record.coreNumber,jdbcType=INTEGER},
      </if>
      <if test="record.memory != null">
        memory = #{record.memory,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bdpf_mllib_assembly_split
    set id = #{record.id,jdbcType=VARCHAR},
      bdpf_mllib_assembly_id = #{record.bdpfMllibAssemblyId,jdbcType=VARCHAR},
      resolution_mode = #{record.resolutionMode,jdbcType=INTEGER},
      segmentation_ratio = #{record.segmentationRatio,jdbcType=DOUBLE},
      random = #{record.random,jdbcType=INTEGER},
      core_number = #{record.coreNumber,jdbcType=INTEGER},
      memory = #{record.memory,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssembly">
    update bdpf_mllib_assembly_split
    <set>
      <if test="bdpfMllibAssemblyId != null">
        bdpf_mllib_assembly_id = #{bdpfMllibAssemblyId,jdbcType=VARCHAR},
      </if>
      <if test="resolutionMode != null">
        resolution_mode = #{resolutionMode,jdbcType=INTEGER},
      </if>
      <if test="segmentationRatio != null">
        segmentation_ratio = #{segmentationRatio,jdbcType=DOUBLE},
      </if>
      <if test="random != null">
        random = #{random,jdbcType=INTEGER},
      </if>
      <if test="coreNumber != null">
        core_number = #{coreNumber,jdbcType=INTEGER},
      </if>
      <if test="memory != null">
        memory = #{memory,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunfang.bdpf.mllib.assembly.entity.SplitAssembly">
    update bdpf_mllib_assembly_split
    set bdpf_mllib_assembly_id = #{bdpfMllibAssemblyId,jdbcType=VARCHAR},
      resolution_mode = #{resolutionMode,jdbcType=INTEGER},
      segmentation_ratio = #{segmentationRatio,jdbcType=DOUBLE},
      random = #{random,jdbcType=INTEGER},
      core_number = #{coreNumber,jdbcType=INTEGER},
      memory = #{memory,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>