<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunfang.bdpf.mllib.assembly.mapper.UnionChildAssemblyMapper">
  <resultMap id="BaseResultMap" type="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssembly">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="bdpf_mllib_assembly_union_id" jdbcType="VARCHAR" property="bdpfMllibAssemblyUnionId" />
    <result column="column_in" jdbcType="VARCHAR" property="columnIn" />
    <result column="column_out" jdbcType="VARCHAR" property="columnOut" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="operation_type" jdbcType="INTEGER" property="operationType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bdpf_mllib_assembly_union_id, column_in, column_out, data_type, operation_type
  </sql>
  <select id="selectByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssemblyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bdpf_mllib_assembly_union_child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bdpf_mllib_assembly_union_child
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bdpf_mllib_assembly_union_child
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssemblyExample">
    delete from bdpf_mllib_assembly_union_child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssembly">
    insert into bdpf_mllib_assembly_union_child (id, bdpf_mllib_assembly_union_id, column_in, 
      column_out, data_type, operation_type
      )
    values (#{id,jdbcType=VARCHAR}, #{bdpfMllibAssemblyUnionId,jdbcType=VARCHAR}, #{columnIn,jdbcType=VARCHAR}, 
      #{columnOut,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{operationType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssembly">
    insert into bdpf_mllib_assembly_union_child
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bdpfMllibAssemblyUnionId != null">
        bdpf_mllib_assembly_union_id,
      </if>
      <if test="columnIn != null">
        column_in,
      </if>
      <if test="columnOut != null">
        column_out,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bdpfMllibAssemblyUnionId != null">
        #{bdpfMllibAssemblyUnionId,jdbcType=VARCHAR},
      </if>
      <if test="columnIn != null">
        #{columnIn,jdbcType=VARCHAR},
      </if>
      <if test="columnOut != null">
        #{columnOut,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssemblyExample" resultType="java.lang.Long">
    select count(*) from bdpf_mllib_assembly_union_child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bdpf_mllib_assembly_union_child
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.bdpfMllibAssemblyUnionId != null">
        bdpf_mllib_assembly_union_id = #{record.bdpfMllibAssemblyUnionId,jdbcType=VARCHAR},
      </if>
      <if test="record.columnIn != null">
        column_in = #{record.columnIn,jdbcType=VARCHAR},
      </if>
      <if test="record.columnOut != null">
        column_out = #{record.columnOut,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
      <if test="record.operationType != null">
        operation_type = #{record.operationType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bdpf_mllib_assembly_union_child
    set id = #{record.id,jdbcType=VARCHAR},
      bdpf_mllib_assembly_union_id = #{record.bdpfMllibAssemblyUnionId,jdbcType=VARCHAR},
      column_in = #{record.columnIn,jdbcType=VARCHAR},
      column_out = #{record.columnOut,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR},
      operation_type = #{record.operationType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssembly">
    update bdpf_mllib_assembly_union_child
    <set>
      <if test="bdpfMllibAssemblyUnionId != null">
        bdpf_mllib_assembly_union_id = #{bdpfMllibAssemblyUnionId,jdbcType=VARCHAR},
      </if>
      <if test="columnIn != null">
        column_in = #{columnIn,jdbcType=VARCHAR},
      </if>
      <if test="columnOut != null">
        column_out = #{columnOut,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunfang.bdpf.mllib.assembly.entity.UnionChildAssembly">
    update bdpf_mllib_assembly_union_child
    set bdpf_mllib_assembly_union_id = #{bdpfMllibAssemblyUnionId,jdbcType=VARCHAR},
      column_in = #{columnIn,jdbcType=VARCHAR},
      column_out = #{columnOut,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      operation_type = #{operationType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 批量插入-->
  <insert id="batchInsertChild" parameterType="java.util.List">
    insert bdpf_mllib_assembly_union_child (id, bdpf_mllib_assembly_union_id,column_in,column_out, data_type,operation_type)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      ( #{item.id}, #{item.bdpfMllibAssemblyUnionId}, #{item.columnIn},#{item.columnOut}, #{item.dataType},#{item.operationType})
    </foreach>
  </insert>
</mapper>